
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>photo</title>
    <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="/Scripts/jquery.webcam.js"></script>
</head>
<body>
    <div id="content">
        <div id="Camera"></div>
        <div id="avatar_priview" style="width: 320px"></div>
        <input type="button" id="play" value="拍照" />
    </div>
    <script type="text/javascript">
        var pos = 0, ctx = null, saveCB, image = [];
        var pos = 0;
        var w = 320;
        var h = 240;
        $(function () {
            var canvas = document.createElement("canvas");
            canvas.setAttribute('width', 320);
            canvas.setAttribute('height', 240);

            if (canvas.toDataURL) {

                ctx = canvas.getContext("2d");
                image = ctx.getImageData(0, 0, 320, 240);
                saveCB = function (data) {
                    var col = data.split(";");
                    var img = image;

                    for (var i = 0; i < 320; i++) {
                        var tmp = parseInt(col[i]);
                        img.data[pos + 0] = (tmp >> 16) & 0xff;
                        img.data[pos + 1] = (tmp >> 8) & 0xff;
                        img.data[pos + 2] = tmp & 0xff;
                        img.data[pos + 3] = 0xff;
                        pos += 4;
                    }

                    if (pos >= 4 * 320 * 240) {
                        ctx.putImageData(img, 0, 0);
                        $.post("/Handler1.ashx", { type: "data", image: canvas.toDataURL("image/png") }, function (msg) {
                            var msgjson = JSON.parse(msg);
                            flashcam(msgjson.code, msgjson.picUrl);
                        });
                        pos = 0;
                    }  
                };

            } else {
                saveCB = function (data) {
                    image.push(data);
                    pos += 4 * 320;
                    if (pos >= 4 * 320 * 240) {
                        $.post("/Handler1.ashx", { type: "pixel", image: image.join('|') }, function (msg) {
                            var msgjson = JSON.parse(msg);
                            flashcam(msgjson.code, msgjson.picUrl);
                        });
                        pos = 0;
                    } 
                };
            }
            callFlash();
            $("#play").click(function () {
                webcam.capture();
            });
        });
        function callFlash() {
            $("#Camera").webcam({
                width: 320,
                height: 240,
                mode: "callback",
                swffile: "/Scripts/jscam_canvas_only.swf?" + Math.random(),
                onTick: function () { },
                onSave: saveCB,
                onCapture: function () {
                    webcam.save();
                },
                debug: function () { },
                onLoad: function () { }
            });
        }
    </script>
</body>
</html>
